body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 70px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

.container h2 {
    text-align: left;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.btn.encrypted {
    background-color: #6c757d;
}

.btn.encrypted:hover {
    background-color: #5a6268;
}

.logout {
    margin-top: 30px;
    background-color: #dc3545;
}

.logout:hover {
    background-color: #c82333;
}

/* form styling  */
#login-form, #register-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    margin: 50px auto;
}

input{
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 10px;
    border: #a8a3a3 solid 1px;
    font-size: 15px;
    padding: 5px ;
}

button {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    font-size: 15px;
    padding: 5px ;
}
